<%- include('../partials/header') %>

<section>
  <!--for demo wrap-->
  <h1>AVAILABLE ITEMS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>CATEGORY</th>
          <th>ITEM</th>
          <th>BRAND</th>
          <th>OWNER</th>
         </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% items.forEach(function(i) { %>
        <tr>
          <td><%= i.category %></td>
          <td><a href="/items/<%= i._id %>"><%= i.item %></a></td>
          <td><%= i.brand %></td>
          <td><%= i.owner %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>