<%- include('../partials/header') %>

    <section id="show-page">
        <div>
            <img src="/images/orbital sander.png" id="image" width="100px" height="auto">
            <div> <%- item.img %>
            
            </div>
        </div><br>
        <div>Item: </div>
        <div>
            <%= item.item %>
        </div>
        <div>Brand: </div>
        <div>
            <%= item.brand %>
        </div>
        <div>Owner: </div>
        <div>
            <%= item.owner %>
        </div>
    </section>

    <%- include('../partials/footer') %>