<%- include('../partials/header') %>

    <section id="show-page">

        <div>Item: </div>
        <div>
            <%= item.item %>
        </div>
        <div>Brand: </div>
        <div>
            <%= item.brand %>
        </div>
        <div>Owner: </div>
        <div>
            <%= item.owner %>
        </div>
    </section>

    <br><br>
    <h2>Comments</h2>
    <% if (user) { %>
        <form id="add-comment-form" method="POST" action="/items/<%= item._id %>/comments">
            <label></label>
            <textarea name="content"></textarea>
            <label>Condition:</label>
            <select name="condition">
                <option value="Like New">Like New</option>
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Fair">Fair</option>
                <option value="Poor">Poor</option>
            </select>
            <input type="submit" value="Add Comment">
        </form>
        <% } %>

            <% if (item.comments.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Comments</th>
                            <th>Condition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% item.comments.forEach(function(c) { %>
                            <tr>
                                <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>">
                                    <%= c.userName %>
                                </td>
                                <td>
                                    <%= c.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= c.content %>
                                </td>
                                <td>
                                    <%= c.condition %>
                                </td>
                                <td>
                                    <% if (user && user._id.equals(c.user)) { %>
                                        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                            <button type="submit">X</button>
                                        </form>
                                        <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                                            <input type="text" name="update" value="<%= c.text %>">
                                            <button type="submit">UPDATE COMMENT</button>
                                        </form>
                                        <% } %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Comments Yet</h5>
                    <% } %>
                        <%- include('../partials/footer') %>