<%- include('../partials/header') %>

    <section id="show-page">
        <div> 
            <%- item.img %>
        </div><br>
        <div>Item: </div>
        <div>
            <%= item.item %>
        </div>
        <div>Brand: </div>
        <div>
            <%= item.brand %>
        </div>
        <div>Owner: </div>
        <div>
            <%= item.owner %>
        </div>
    </section>

    <br><br>
    <h2>Comments</h2>
    <p>Add helpful comments and tips here:</p>
    <form id="add-comment-form" method="POST" action="/items/<%= item._id %>/comments">
        <textarea name="content"></textarea>
        <button type="submit">ADD COMMENT</button>
    </form>
    
    <% if (item.comments.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <% item.comments.forEach(function(c) { %>
                    <tr>
                        <td>
                            <%= c.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= c.content %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Comments Yet</h5>
            <% } %>
                <%- include('../partials/footer') %>